.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper div {
    width: 200px;
    height: 200px;
    background-color: #00fd43;
    margin-left: 60px;
    border: solid black 1px;
}
.Wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Wrapper div {
    background-color: #f24c4b;
    border: solid black 1px;
    width: 220px;
    height: 50px;
}
#box7{
    width: 480px;
}




