.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper div {
    width: 200px;
    height: 200px;
    border: 1px;
    border-style: solid;
    border-color: black;
    
    
    
    
}
.box1{
    background-color: red;
}
.box2{
    background-color: darkgreen;
}
.box3{
    background-color: greenyellow;
}
.box4{
    background-color: aqua;
}
.box5{
    background-color: yellow;
}
.laatikko{
    height: 200px;
    width: 200px;
    border: 1px;
    border-style: solid;
    border-color: black;
}