.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-auto-rows: 200px;
    height: 200px;
}
#box1{
    background-color: red;
}
#box2{
    background-color: green;
}
#box3{
    background-color: greenyellow;
}
#box4{
    background-color: aqua;
}
#box5{
    background-color: yellow;
}


